@import "~bootstrap/scss/bootstrap";

.cursor-pointer {
    cursor: pointer;
}

/* Vertical align in table cells by default */
.table th, .table td {
    vertical-align: middle;
}

/* Add a table-md with padding somewhere between sm and normal */
.table.table-md th, .table.table-md td {
    padding: 0.5rem 0.75rem;
}

/* Correct doubled up borders for tbody siblings */
.table tbody + tbody {
    border-top-width: 1px !important;
}

/* Correct various issues for nested tables */
td .table {
    margin-bottom: 0;
    tr > :first-child { border-left: 0; }
    tr > :last-child { border-right: 0; }
    > :first-child tr:first-child {
        th, td { border-top: 0; }
    }
    > :last-child tr:last-child {
        th, td { border-bottom: 0; }
    }
}

/* Utility class to send captions to the top of the table */
.caption-top {
    caption-side: top;
}

/* Utility class for truncating text */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Make tables look nice when used as modal body */
table.modal-body {
    margin-bottom: 0;
}
table.modal-body tr:nth-child(1) th,
table.modal-body tr:nth-child(1) td {
    border-top: 0;
}

/* When a button-link is used inside a table, remove the padding */
.table .btn-link {
    padding: 0;
}

label {
    font-weight: bold;
}

.issues-table {
    font-size: 0.95rem;
    caption {
        @extend .truncate;
    }
    td {
        white-space: nowrap;
    }
    td.icon {
        width: 1%;
    }
}

.issue-detail-item {
    font-size: 0.95rem;
    margin-bottom: $spacer;
    &:last-child {
        margin-bottom: 0;
    }
    > :first-child {
        @include media-breakpoint-up(lg) {
            text-align: right;
        }
    }
}

@mixin severity-text($color, $bold: false) {
    @if $bold {
        font-weight: bold;
    }
    color: theme-color-level($color, if($bold, 3, 2));
}

@mixin severity-row($color, $bold: false, $bg-level: -12) {
    background-color: theme-color-level($color, $bg-level);
    &:hover {
        background-color: theme-color-level($color, $bg-level + 1);
    }
    .icon, .severity {
        @include severity-text($color, $bold);
    }
}

tr.severity-critical {
    @include severity-row(danger, true, -11);
}
tr.severity-high, tr.severity-unknown {
    @include severity-row(danger);
}
tr.severity-medium {
    @include severity-row(warning);
}
tr.severity-low {
    @include severity-row(info);
}
tr.severity-negligible {
    color: gray("500") !important;
    &:hover {
        background-color: gray("100");
    }
}
tr.severity-success {
    @include severity-row(success);
}

.severity-text-critical {
    @include severity-text(danger, true);
}
.severity-text-high, .severity-text-unknown {
    @include severity-text(danger);
}
.severity-text-medium {
    @include severity-text(warning);
}
.severity-text-low {
    @include severity-text(info);
}
.severity-text-negligible {
    color: gray("500");
}

@mixin severity-modal($color, $border-level: 2, $bg-level: -12) {
    .modal-content {
        border: 2px solid theme-color-level($color, $border-level);
    }
    .modal-header {
        background-color: theme-color-level($color, $bg-level);
        border-bottom: 1px solid theme-color-level($color, $border-level);
    }
}

.issue-modal {
    &.severity-critical {
        @include severity-modal(danger, 3, -11);
    }
    &.severity-high, &.severity-unknown {
        @include severity-modal(danger);
    }
    &.severity-medium {
        @include severity-modal(warning);
    }
    &.severity-low {
        @include severity-modal(info);
    }
}

ul.list-pills {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        background-color: #f9f2f4;
        @extend .rounded;
        @extend .d-inline-block;
        @extend .mr-1;
        @extend .mb-1;
        @extend .px-2;
        @extend .py-1;
    }
}

.notification-container {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 350px;
    z-index: 1000;
}

.notification {
    margin: $spacer;

    & + .notification {
        margin-top: 0.5 * $spacer;
    }
}

.namespace-scan-form {
    @include media-breakpoint-up(md) {
        > .input-group {
            margin-right: 0.5 * $spacer;
        }
    }
    @include media-breakpoint-down(sm) {
        & > .input-group, & > button {
            width: 100%;
            margin-bottom: 0.5 * $spacer;
        }
    }
}

.profile-modal {
    .nav-item {
        text-align: center;
    }
    .form-group:last-child {
        margin-bottom: 0;
    }
    @include media-breakpoint-down(md) {
        .nav {
            margin-bottom: $spacer;

        }
    }
}

.rjsf .checkbox.form-group {
    margin-bottom: 0.5 * $spacer;
}